<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<div>
    <h1>Список пользователей:</h1>
    <a href="/admin/new">Добавить</a>
    <br/>
    <hr/>
    <table>
        <tr>
            <th>ID</th>
            <th>USERNAME</th>
            <th>NAME</th>
            <th>SURNAME</th>
            <th>AGE</th>
            <th>ROLES</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.age}"></td>
            <td>
                <ul>
                <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
                </ul>
            </td>
            <td><a th:href="@{/admin/edit?id={id}(id=${user.id})}">Edit</a></td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/delete?id={id}(id=${user.id})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </table>

</div>
Logged in user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
